.header {
  height: 70px;
  margin-bottom: 2px;
  margin-top: 0px;
}
img {
  margin-left: 20px;
  width: 180px;
  height: 70px;
}
.button {
  float: right;
  padding: 20px;
  font-size: larger;
  display: flex;
  gap: 10px
}
.search {
  height: 70px;
  width: 103.75%;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* for responsive purpose */

@media only screen and (max-width: 767px) {
    img {
      margin-left: 10px;
      margin-top: 18px;
      width: 140px;
      height: 50px;
    }
    .header {
     
      height: 100px;
      margin-bottom: 2px;
      margin-top: 0px;
    }
    .search {
      height: 70px;
      width: 103.75%;
      background: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
  
      .searchButton {
        background-color: #80bf32;
        color: white;
        font-size: 14px;
        padding: 8px 16px;
       width: 125px;;
       height: 40px;
      }
      
    }
  }
  