.header{
    height: 70px;
    
    margin-top: 0px;
    
}
img{
    margin-left: 120px;
    width: 180px;
    height: 70px;
   
    
}
.button{
    float: right;
    padding: 20px;
    font-size: larger;
    
}