*{
    margin: 0;
    padding: 0;
}
.login{
    height: auto;
    width: 100%;
    background-color: white;
    color: darkblue;
    font-size: larger;
    text-align: center;
    padding-top: 100px;
}