*{
    margin: 0;
    padding: 0;
}
.register {
    height: 50vh;
    width: 103.75%;
    background-color: #e9f4f9;
    color: #333333;
    font-size: larger;
    text-align: center;
    padding-top: 100px;
}

.search {
    height: 80px;
    width: 103.75%;
    background: #e9f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px; 
}

