.container {
    background-color: #f4f4f4;
    max-width: 60rem;
  margin: 0 auto;
  margin-top: 120px;
  padding: 2rem;
  background-color: #f4f4f4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);/* Adjust the height as needed */
  flex: 1;
  border-radius: 8rem;
  height: 40rem;
  width:50rem;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-input {
    width: 357px;
    margin-top: 0.5rem;
  }
  
  .form-error {
    color: #f14d54;
    margin-top: 0.5rem;
  }
  
  .submit-button {
    color: white;
    background-color: #f14d54;
    &:hover {
      background-color: #f14d54;
    }
    margin-top: 0rem;
  }
  
  .breadcrumbs-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .divider {
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 160px;
  }
  
  .form-description {
    margin-top: 20px;
    margin-left: 160px;
  }
  
  .form-section {
    margin-top: 70px;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 5px;
  }
  
  .form-control {
    width: 100%;
  }
  
  .password-section {
    margin-top: 70px;
  }
  
  .submit-button {
    color: white;
    background-color: #f14d54;
    &:hover {
      background-color: #f14d54;
    }
    margin-top: 60px;
  }
  